@import '../../assets/styles//variables.scss';

.box_icon {
    box-shadow: $box-shadow-3;
    border-radius: 10px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;

    &__large {
        padding: 13px;
        font-size: 20px;
        min-width: 50px;
        box-sizing: border-box;
        background-color: #FFF;
        z-index: 1;
    }
}
