@import '../../assets/styles/variables.scss';

.list_items {
    margin-top: 28px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 19px;
    
        a {
            color: $color-red;
            font-size: 12px;
            font-weight: 500;
        }
    }
}