@import '../../assets/styles/variables.scss';

.cart_totals {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $color-light-gray;
}

.cart_totals_normal {
    color: $color-gray;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 17px;
    line-height: 23px;

    span {
        color: #000;
        font-weight: 500;
    }
}

.cart_totals_title {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}