@import './variables.scss';
@import './pages.scss';
@import './fonts.scss';
@import './global.scss';
@import './forms.scss';

.app-frames {
    margin: 10px auto;
    max-width: 380px;
    border-radius: 20px;
    box-shadow: $box-shadow-1;
    box-sizing: border-box;
    height: calc(100vh - 20px);
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(#000, 0.1);
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(#000, 0.4);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(#000, 0.6);
    }
}