html,
body {
    font-family: $font-main;
}

h1,
h2,
h3 
{
    margin: 0;
}

h1 {
    line-height: 45px;
}

h2 {
    line-height: 35px;
}

h3 {
    line-height: 27px;
    font-size: 18px;
    font-weight: 600;
}

p {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
}

input,
button  {
    font-family: $font-main;
}

a {
    text-decoration: none;
}

.icon_favorites {
    svg {
        stroke: $color-gray !important;
        fill: #fff !important;
    }

    &.active {
        svg {
            stroke: $color-red !important;
        }
    }
}

.add-to-favorites {
    fill: #fff;
    stroke: $color-red;

    &.active {
        fill: $color-red;
        stroke: $color-red;
    }
}