$color-gray:        #667C8A;
$color-dark-gray:   #435D6B;
$color-light-gray:  #F2F5F8;
$color-red:         #C8161D;
$color-red-1:       #F27D82;

$font-main:        'Montserrat', sans-serif; 

$box-shadow-1:      -6px -6px 30px rgba(0, 0, 0, 0.15), 6px 6px 30px rgba(0, 0, 0, 0.15);
$box-shadow-2:      -6px -6px 30px rgba(67, 93, 107, 0.25), 6px 6px 30px rgba(67, 93, 107, 0.25);
$box-shadow-3:      -4px -2px 15px rgba(0, 0, 0, 0.15), 4px 4px 15px rgba(0, 0, 0, 0.15);
$box-shadow-4:      0 10px 15px rgba(0, 0, 0, 0.03);
$box-shadow-5:      -4px -4px 10px rgba(0, 0, 0, 0.05), 4px 4px 10px rgba(0, 0, 0, 0.05);